export default {
    apiKey: "AIzaSyBcQb9z6KeHVVq92__4k8dRFmueLJn4HEo",
        authDomain: "sample-projecrt.firebaseapp.com",
        databaseURL: "https://sample-projecrt.firebaseio.com",
        projectId: "sample-projecrt",
        storageBucket: "sample-projecrt.appspot.com",
        messagingSenderId: "1057981687213",
        appId: "1:1057981687213:web:af68272e9249ec8072ed24"
}